.header {
    font-family: sans-serif;
    font-size: 2.5em;
    color: blueviolet;
    border-bottom: solid 5px aqua;
}

@media screen and (max-width: 450px) {
    .header {
        font-family: sans-serif;
        font-size: 1.5em;
        color: green;
        border-bottom: solid 5px green;
    }
  }