h1 {
 font-size: 20px;
}

.red-percent{
    color: red;
  }
  
.green-percent{
    color: green;
  }

.row {
  text-align: center;

}

img {
  max-width: 80%;
  height:auto;
}


@media screen and (max-width: 450px) {
  .row {
    background-color: black;
  }
  img {
    max-width: 20%;
    height:auto;
  }
}

@media (orientation: landscape) {
  h1 {
    font-size: 40px;
  }
  img {
    max-width: 80%;
    height: auto;
  }
}

@media (orientation: portrait) {
  img {
    max-width: 10%;
  }
}