h1 {
 font-size: 20px;
}

.red-percent{
    color: red;
  }
  
.green-percent{
    color: green;
  }

.row {
  text-align: center;

}

img {
  max-width: 80%;
  height:auto;
}


@media screen and (max-width: 450px) {
  #h1 {
    color: blue;
  }
  .row {
    background-color: black;
  }
  img {
    max-width: 40%;
    height:auto;
  }
}